.*
Desktop
Downloads
Templates
Public
Pictures
Music
Documents
Videos
scripts
tmp
mnt
*.log
*core
*.swp
*.swo
*.bak
dotdrop.sh

local/share/fonts/msfonts/fontinst.exe
local/share/fonts/msfonts/FONTINST.EXE
